</div>
<script src="js/jquery.js"></script>
<script>
    $(function () {
        function setNavigation() {
            var path = window.location.pathname;
            $(".nav a").each(function () {
                var href = $(this).attr('href');
                if (path === href) {
                    $(this).closest('li').addClass('active');
                }
            });
        }
        setNavigation();
    });

</script>
</body>
</html>
